.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contract-title {
    font-size: 30px;
}

.contract-text {
    font-size: large;
}

.file-container {
    width: 100vw;
    text-align: center;
}

.pdf-box {
    max-width: 50vw;
    padding: 30px;
    /* border: 1px solid gray; */
    font-family: "宋体";
}

.QRcode-box {

}

.QRcode {
    width: 130px;
    height: 130px;
}

.signature {
    width: 120px;
    height: 60px;
    margin-top: 50px;
    margin-left: 400px;
}

.date {
    margin-left: 400px;
}

.btn-file {
    width: 120px;
    height: 50px;
    font-size: 17px;
    background-color: rgb(185, 0, 0);
    margin-top: 30px;
}