.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.ipt-area {
    width: 60%;
    margin-bottom: 24px;
}

.upload-btn {
    width: 160px;
}

.space {
    margin: 15px;
}