.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.upload-box {
    text-align: center;
}

.ipt-area {
    width: 60%;
    margin-bottom: 30px;
}

.upload-btn {
    width: 160px;
}

.QRcode {
    width: 150px;
    height: 150px;
}